## Week 1

1- Datatypes

2- Expression and varible

3- Single operations

4- Lists and Tuples

5- Dictionaries

## Data type

In [1]:
                                         # I'm going to start with datatypes

#integers:
age = 19

#floot:
gpa = {3.90}

#strings:
name = "Nawaf"

#Chars:
grade = {'N'}

print("My name is ",name)
print("My age is ",age)
print("My grade is ",gpa ,grade)

My name is  Nawaf
My age is  19
My grade is  {3.9} {'N'}

 ## Expression and varible

In [2]:
                                                # Expression and varible 

#here the num1 2 3... is the variable that we assign value to the variable 

#Adddition
Num1 = 4
Num2 = 6
sum1 = Num1 + Num2

#Multiplication
Num3 = 5
Num4 = 10
sum2 = Num3 * Num4

#Division
Num5 = 12
Num6 = 4
sum3 = Num5 / Num6

#Substaction
Num7 = 15
Num8 = 5
sum4 = Num7 - Num8
    
print("An result of the addition ",sum1)
print("An result of the Multiplication ",sum2)
print("An result of the Division ",sum3)
print("An result of the Substaction ",sum4)

An result of the addition  10
An result of the Multiplication  50
An result of the Division  3.0
An result of the Substaction  10

## single operations in python

here it's have some of Funtions in single operations

* abs(): function returns the absolute value of a number.
   
* len(): function returns the length of an object, such as a string or a list.

In [5]:
x = -11
y = abs(x)
c = abs(-87)
print('here will see the Absolute Value of -11 and -87 : ',y,',',c)

here will see the Absolute Value of -11 and -87 :  11 , 87

In [6]:
#Note: here the Space between the Word and count it 
n = 'Nawaf 55'
x = len(n)
z = len('welcome')
print('here length of n and z : ',x,',',z)

here length of n and z :  8 , 7

## List and Tuple

* List you can change some data
* Tuple you can't change the data

In [3]:
# 1-List
x = [1,2,3,'messi','Nawaf',3.99]
print('Is the list before change : ',x,"\n")
x [3] = 'CR7'
print('Is the list after change : ',x)

Is the list before change :  [1, 2, 3, 'messi', 'Nawaf', 3.99]

Is the list after change :  [1, 2, 3, 'CR7', 'Nawaf', 3.99]

In [4]:
# 2- Tuple
s = (1, 2, 3, 'CR7', 'Nawaf', 3.99)
print('this is the Tuple : ',s)

this is the Tuple :  (1, 2, 3, 'CR7', 'Nawaf', 3.99)

## Dictionaries

in the dictionaries you can change the data by using k-based index to access the value inside your dictionaries

In [8]:
STITWOT ={
    'Nawaf':
    {
         'age':19,
         'jop':'COO',
         'city':'Taif'
    },
    
    'Abdulrahman':
    {
        'age':19,
        'jop':'leader',
        'city':'Taif'
    },
    
    'Faisl':
    {
        'age':19,
        'jop':'CEO',
        'city':'Taif'
    },
    
    'Hamed':
    {
        'age':19,
        'jop':'CEO',
        'city':'Taif'
    },
    
    'Zeyad':
    {
        'age':19,
        'jop':'CMO',
        'city':'Taif'
    },
    
    'Yasser':
    {
        'age':19,
        'jop':'R&D',
        'city':'Taif'
    },  
}

print('example: ',STITWOT['Nawaf'])

# if you want to change in any data in the dictionaries 
STITWOT['Zeyad']['age'] = 20

print('example: ',STITWOT['Zeyad'])

example:  {'age': 19, 'jop': 'COO', 'city': 'Taif'}
example:  {'age': 20, 'jop': 'CMO', 'city': 'Taif'}

## project

The project will calculate the Chief operating officer 'COO' salary

In [1]:
name = "Nawaf"
basicSalary = 38000
bonus = 4000
penalties = 290
extraHours = 12
taxRate = 0.15

#Calclulating the extra Hours Value
totalHours = 8 * 5 * 4
hourlyRate = basicSalary / totalHours
extraValue = extraHours * hourlyRate
totalSalary = basicSalary + bonus + extraValue - penalties
taxValue = totalSalary * taxRate 
netSalary = totalSalary - taxValue
print("COO Nawaf Salary for the Month of May is :",netSalary)

COO Nawaf Salary for the Month of May is : 37876.0